@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap');

html,
body {
  @apply bg-white dark:bg-black-primary-300 transition-colors duration-200
 text-black-primary-500 dark:text-white;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 5px;
  z-index: 2001;
  position: absolute;
}

::-webkit-scrollbar-track {
  @apply bg-white dark:bg-black-primary-300;
}

::-webkit-scrollbar-thumb {
  @apply bg-black-primary-300 dark:bg-black-primary-50 rounded-3xl h-40;
}
