.layout-section {
  max-width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .layout-section {
    max-width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .layout-section {
    max-width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .layout-section {
    max-width: 1170px;
  }
}

@media screen and (min-width: 1440px) {
  .layout-section {
    max-width: 980px;
  }
}

.layout-header {
  @apply px-4 md:pl-4 md:pr-24 mb-24;
}
